
<footer class="footer"> 
	<div class="icons"> 
		{{!-- <a href="https://www.instagram.com" target="blank"><img src="/images/instagram.png"> </a> --}}
		{{!-- <a href="https://www.youtube.com/" target="blank"><img src="/images/youtube.png"></a>  --}}
		{{!-- <a href="https://www.facebook.com" target="blank"><img src="/images/facebook.png" > </a>  --}}
		{{!-- <a href="https://twitter.com" target="blank"><img src="/images/twitter.png"> </a> --}}
	</div>
	 	{{!-- <img src="/images/copyright.png"> --}}
	 </div> 
</footer>

	
</body>
</html>