
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel = "stylesheet" type = "text/css" href = "/style.css">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="logo_links">
			<div class="logo">
				{{!-- <img src="/images/logo1.png"> --}}
				<p>SOMETHING WEATHER</p>
			</div>
			<div class = "name">
				
			</div>
			<div class="menu">
				{{>menu}}
			</div>
		</div>
	</header>