body {
	font-family: "Tajawal", sans-serif;
	background:white;
}

.p-5{
	padding-top: 3rem;
	margin-top:80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.wrapper > div {
	padding: 20px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
}

.wrapper > div > button {
	background: #f78da7;
	padding: 5px 5px;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 0 20px;
	justify-content: center;
}