{{>header}}

<main>
	<div class="buttons">
		<button class="not_accetped" id="not_accetped_btn">Not accepted</button>
		<button class="accepted" id="accepted_btn">Acepted</button>
		<button class="question_btn" id="question_btn">Questions</button>
	</div>
	<div class="content">
		<div class="events" id="events">
			<div id="title_event"></div>
		</div>
		<div class="accepted_events" id="accepted_events">
			<div id="title__accepted_event"></div>
		</div>
		<div class="questions" id="questions">
			<div id="title_question"></div>
		</div>
	</div>
</main>

{{>footer}}

<script src = 'script.js'></script>