{{>header}}

<main>
	<div class="events" id="events">
		<div id="title_event"></div>
	</div>
	<div class="questions" id="questions">
		<div id="title_question"></div>
	</div>
</main>

{{>footer}}

<script src = 'script.js'></script>