{{>header}}

<main>

	<form action="">
		<input type="text" id = "address" placeholder="your location">
		<button class = 'search'>Search</button>
	</form>
	<p id = "msg1"></p>
	<br>
	<p id = "msg2"></p>
</main>

{{>footer}}

<script src = 'script.js'></script>